<% if(typeof errors!= 'undefined') { %>
<%    errors.forEach(function(error){ %>
        <p class="alert alert-danger" style="width:20% ; margin-left:5%"> <%= error.msg %></p>
<%    })        %>
<% } %>

<% if(success_msg!= '') { %>
        <p class="alert alert-success" style="width:20% ; margin-left:5%"><%=success_msg %> </p>
      <% } %>

<% if(error_msg != '') { %>
      <p class="alert alert-danger" style="width:20% ; margin-left:5%"><%= error_msg %></p> 
      <% } %> 
<% if(error != '') { %>
       <p class="alert alert-danger" style="width:20% ; margin-left:5%"><%= error %> </p>
      <% } %> 